:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header-logo{
  font-size: 2rem;
}
.footer-logo{
  text-decoration: none;
  color: #fff;
}
/* HERO SECTION */
section.hero {
  /* background: linear-gradient(308deg, #5ab9ea, #8860d0, #f497df, #5580e9, #7acb68); */
  background: linear-gradient(308deg, #fb8ad8, #ecbcf6, #93c4fe, #8f98ff, #a2fafe);
  color: white;
  line-height: 1.5;
  font-family: 'Nunito', sans-serif;
  animation: gradient 15s ease infinite; 
  background-size: 400% 400%;
}
section.hero-grad {
  background:url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  min-height: 70vh;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.bg-gradient-motion{
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(308deg, #fb8ad8, #ecbcf6, #93c4fe, #8f98ff, #a2fafe);
  opacity: .9;
  animation: gradient 15s ease infinite; 
  background-size: 400% 400%;
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
.hero-container-grad {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.header-content{
  text-align: center;
}
.header-content p.dev-name{
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 10px black;
  text-align: center;
  margin-bottom: -15px;
  padding-bottom: 0px;
}
.header-content h1{
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 10px black;
  text-align: center;
}
.header-content p{
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 10px black;
  padding-bottom: 1rem;
}
.btn-hero{
  background: #007bff;
  color:#fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.btn-hero:hover,
.btn-hero:focus{
  background: #0f37ff;
  color:#ffffff;
  transition: background 2s, color 2s;
}

@media (min-width: 375px) {
  .hero-container-grad {
      max-width:100%;
      width: 100%
  }
}

@media (min-width: 640px) {
  .hero-container-grad {
      max-width:640px
  }
  .header-content h1{
    font-size: 3rem;
  }
  .header-content p{
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .hero-container-grad {
      max-width:768px
  }
}

@media (min-width: 1024px) {
  .hero-container-grad {
      max-width:1024px
  }
  .header-content h1{
    font-size: 5rem;
  }
}

@media (min-width: 1280px) {
  .hero-container-grad {
      max-width:1280px
  }
}
@media (min-width: 600px) {
  section.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .hero-container {
    padding: 3vw 0 3vh 3vw;
  }
  
  .image-wrapper {
    filter: hue-rotate(20deg);
    clip-path: polygon(0 100%, 50% 0, 100% 0, 100% 100%);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: left;
}

.hero-container h2 {
  font-weight: 600;
  white-space: nowrap;
  font-size: clamp(2rem, 5vw, 4rem);
  margin-block-end: .5rem;
}

.hero-container p {
  font-size: clamp(1rem, 1.5vw, 3rem);
}

.image-wrapper {
  height: 100%;
  width: 100%;
  clip-path: polygon(0, 0, 0, 0);
}

.image-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right center;
}

/* ABOUT JSDEV */
.flex {
  display: flex;
}
.dev-img{
  width:100%;
}

.w-full{
  width:100%;
}